<tr>
  <th class="expression">
    <span class="content"><%= expression.content %></span>
  </th>
  <td>
	<input type="submit" name = <%= expression.id %> value="+1" id= <%= expression.id %> >
  </td>
  <td>
	<input type="text" size="10" name="score_<%= expression.id %>" id="score_<%= expression.id %>" value = <%= Event.count :conditions => { :expression_id => expression.id } %> style="background-color:#F0FFFF" onFocus="javascript: this.blur()">
  </td>
</tr>